* {
    border: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    border: rgb(255, 255, 255);
    background: #1d18187c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    opacity: 0.9;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"],
input[type="date"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 6px;
}

button {
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

select {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}


ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

li.completed span.task-text {
    text-decoration: line-through;
    color: gray;
}

.task-meta {
    font-size: 0.9em;
    color: #555;
    margin-top: 5px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

#task-date{
    font-size: 1.15em;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 5px;
}

.done-btn {
    background: #5bc0de;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.done-btn:hover {
    background: #31b0d5;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

li.completed .task-text {
    text-decoration: line-through;
    color: gray;
}

li.completed .done-btn {
    background: #5cb85c;
    cursor: default;
}

video {
    height: auto;
    position: fixed;
    z-index: -1;
    object-fit: cover;
}
